body {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
    background-color: #FDFDFD;
}

main {
    padding: 16px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #B7BCBF;
}
h1:before {
    margin-left: -50%;
    text-align: right;
}
.color {
    background-color: #ccc;
}

th {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    padding: 5px;
    margin: auto;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
  }

h2 {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #594246;
}

a:hover {
    color: #F2ACBF;
}

ol {
    padding: 5px;
    display: inline-block;
    text-align: left;
    margin: auto;
}

li {
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #F2DCE0;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    color: #594246;
}

img {
    height: 200px;
}


nav {
    border-bottom: 1px solid #000000;
    padding: 16px;
    background-color: #F2DCE0;
    font-family: 'Comfortaa', sans-serif;
    text-align: left;
    color: #594246;
}
